<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>
<div id="left">
Select Query:<br>
<select id="querySelect" onchange="myFunction()">
  <option selected disabled value=''></option>"
  <option value="1">Population of Men</option>
  <option value="2">Population of Women</option>
</select>
</div>
<div id="popup">
    <a> 
    <%= image_tag("PA.png", :style => "position:absolute; TOP:35px; LEFT:170px;", :id => "PA", :class => "white") %>
    <span id="PA_span">PA</span>
    </a>
    <a>
    <%= image_tag("NJ.png", :style => "position:absolute; TOP:56px; LEFT:226px;", :id => "NJ", :class => "white") %>
    <span id="NJ_span">NJ</span>
    </a>
</div>

<script>
function myFunction() {
    var x = document.getElementById("querySelect").value;
    if (x == 1)
    {
        // PA Men 6190363
        document.getElementById("PA").className = "red1";
        document.getElementById("PA_span").innerHTML = "PA: 6,190,363";

        // NJ Men 4279600
        document.getElementById("NJ").className = "pink";
        document.getElementById("NJ_span").innerHTML = "NJ: 4,279,600";
    }
    else
    {
        // PA Women 6512016
        document.getElementById("PA").className = "red";
        document.getElementById("PA_span").innerHTML = "PA: 6,512,016";

        // NJ Men 4512294
        document.getElementById("NJ").className = "red3";
        document.getElementById("NJ_span").innerHTML = "NJ: 4,512,294";
    }

     // Key 1
    document.getElementById("K1").className = "red";
    document.getElementById("K1_text").innerHTML = "> 6,500,000";

    // Key 2
    document.getElementById("K2").className = "red1";
    document.getElementById("K2_text").innerHTML = "6,000,000 - 6,500,000";

    // Key 3
    document.getElementById("K3").className = "red2";
    document.getElementById("K3_text").innerHTML = "5,000,000 - 6,000,000";

    // Key 4   
    document.getElementById("K4").className = "red3";
    document.getElementById("K4_text").innerHTML = "4,500,000 - 6,000,000";

    // Key 5
    document.getElementById("K5").className = "pink";
    document.getElementById("K5_text").innerHTML = "4,000,000 - 4,500,000";
}
</script>

<div id="key">
<p style="text-align:center;line-height:10%;">Key:</p>
<table>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K1", :class => "white") %>
            <td id="K1_text">Key 1</td>
        </td>
    </tr>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K2", :class => "white") %>
            <td id="K2_text">Key 2</td>
        </td>
    </tr>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K3", :class => "white") %>
            <td id="K3_text">Key 3</td>
        </td>
    </tr>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K4", :class => "white") %>
            <td id="K4_text">Key 4</td>
        </td>
    </tr>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K5", :class => "white") %>
            <td id="K5_text">Key 5</td>
        </td>
    </tr>
</table>
</div>