<h1>Census Query</h1>
<p id="query_title"><%=@query_title%></p>
<body onload="onLoad()">
<div id="left">
<label style="font-weight:bold;">Select Query:</label><br>
<select name="querySelect" id="querySelect"><!--  onchange="onChange()"> -->
  <option id="select1" value="PCT012A119">Population of Men</option>
  <option id="select2" value="PCT012A118">Population of Women</option>
</select>
<br>
<button type="button" onclick="onChange()">Search</button>
<br>
<label style="font-weight:bold;">Summation of Queries:</label>
<br>
String together "Names" from
<br>
the following table, separated by commas:
<br>
<a href="http://api.census.gov/data/2010/sf1/variables.html" target="_blank">List of Query Terms</a>
<br>
<input type="text" id="sumQueries">
<br>
<button type="button" onclick="onSummationSearch()">Search</button>
<br>
<label style="font-weight:bold;">Advanced Search:</label><br>
<form>
    <input id="s1" type="radio" name="sex" value="m" checked>Male
    <input id="s2" type="radio" name="sex" value="f">Female
    <input id="s3" type="radio" name="sex" value="all">All
</form> 
<input id="amount" readonly style="font-weight:bold;background-color:#eeeeee; border: solid 1px #707070;">
<div id="slider-range"></div>
<input type="checkbox" id="race1" value="white_alone">White<br>
<input type="checkbox" id="race2" value="hispanic_or_latino">Hispanic<br>
<input type="checkbox" id="race3" value="black_or_african_american_alone">Black<br>
<input type="checkbox" id="race4" value="asian_alone">Asian<br>

<button type="button" onclick="onAdvanceSearch()">Search</button>
<br>
</div>

<div id="popup">
    <a> 
    <%= image_tag("PA.png", :style => "position:absolute; TOP:47px; LEFT:177px;", :id => "PA", :class => "white") %>
    <span id="PA_span">PA</span>
    </a>
    <a>
    <%= image_tag("NJ.png", :style => "position:absolute; TOP:56px; LEFT:226px;", :id => "NJ", :class => "white") %>
    <span id="NJ_span">NJ</span>
    </a>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">  
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
  $(function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 1,
      max: 99,
      values: [ 25, 80 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "Ages: " + ui.values[ 0 ] + "-" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "Ages: " + $( "#slider-range" ).slider( "values", 0 ) +
      "-" + $( "#slider-range" ).slider( "values", 1 ) );
  });

function onSummationSearch() {
    var query = document.getElementById('sumQueries').value;
    query = query.replace(" ", "");
    location.href = "/query/" + query;
    return false;
}

function onAdvanceSearch() {
    var gender = "all";
    
    if (document.getElementById('s1').checked) {
        gender = document.getElementById('s1').value;
    }
    else if (document.getElementById('s2').checked) {
        gender = document.getElementById('s2').value;
    }

    var age = document.getElementById("amount").value;
    age = age.substring(6, 100);

    var race = "";

    for (i = 1; i < 15; i++)
    {
        var check = document.getElementById('race' + i.toString());
        if (check != null)
        {
            if (check.checked){
                race += check.value + ",";
            }
        }
        else
        {
            race = race.substring(0, race.length - 1);
            break;
        }
    }

    if (race == "")
    {
        race = "all";
    }

    location.href = "/search/" + gender + "/" + age + "/" + race;
    return false;
}


function onChange() {
    var x = document.getElementById("querySelect").value;
    location.href = "/query/" + x;
    return false;
}

function getFirst(infoLookup)
{
    for (var key in infoLookup)
        return key;
}

function roundUp(x){

    var y = Math.pow(10, x.toString().length-1);

    x = (x/y);
    x = Math.ceil(x);
    x = x*y;
    return x;
}

function roundDown(x){

    var y = Math.pow(10, x.toString().length-1);

    x = (x/y);
    x = Math.floor(x);
    x = x*y;
    return x;
}

function onLoad() {

    var test = document.getElementById("results").innerHTML;
    var infoLookup = JSON.parse(test);

    var min = parseInt(getFirst(infoLookup));
    var max = min;

    for (var key in infoLookup) {
        var asInt = parseInt(infoLookup[key]);
        if (asInt < min)
            min = asInt;
        if (asInt > max)
            max = asInt;
    }

    min = roundDown(min);
    max = roundUp(max);

    var start = min;
    var increment = (max-min)/5;

    for (i = 1; i <= 5; i++)
    {
        var text = "> " + (start + 4 * increment).toLocaleString();
        if (i > 1)
        {
            text = (start + (5-i) * increment).toLocaleString() + " - " + (start + (5-(i-1)) * increment).toLocaleString();
        }

        document.getElementById("K"+i.toString()).className = "red"+(5-i).toString();
        document.getElementById("K"+i.toString()+"_text").innerHTML = text;
    }

    // An important lookup table
    var statesLookup = {"AL": "01", "AK": "02", "AZ": "04", "AR": "05", "CA": "06", "CO": "08", "CT": "09", "DE": "10", "DC": "11", "FL": "12", "GA": "13", "HI": "15", "ID": "16", "IL": "17", "IN": "18", "IA": "19", "KS": "20", "KY": "21", "LA": "22", "ME": "23", "MD": "24", "MA": "25", "MI": "26", "MN": "27", "MS": "28", "MO": "29", "MT": "30", "NE": "31", "NV": "32", "NH": "33", "NJ": "34", "NM": "35", "NY": "36", "NC": "37", "ND": "38", "OH": "39", "OK": "40", "OR": "41", "PA": "42", "RI": "44", "SC": "45", "SD": "46", "TN": "47", "TX": "48", "UT": "49", "VT": "50", "VA": "51", "WA": "53", "WV": "54", "WI": "55", "WY": "56", "PR": "72"};

    for (var state in statesLookup)
    {
        var index = statesLookup[state]
        if (index in infoLookup)
        {
            try 
            {
                var value = infoLookup[index];

                // Set the hover value
                document.getElementById(state + "_span").innerHTML = state + ": " + (value*1).toLocaleString();
                // Start it at 4, and move it down if necessary
                document.getElementById(state).className = "red4";
                for (i = 4; i >= 0; i--)
                {
                    if (value < (start + ((i + 1) * increment)))
                    {
                        document.getElementById(state).className = "red" + i;
                    }
                }
            }
            catch (err)
            {
                // suppress -- not all states implemented yet
            }
        }
    }
}
</script>

<div id="key">
<p style="text-align:center;line-height:10%;">Key:</p>
<table>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K1", :class => "white") %>
            <td id="K1_text"></td>
        </td>
    </tr>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K2", :class => "white") %>
            <td id="K2_text"></td>
        </td>
    </tr>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K3", :class => "white") %>
            <td id="K3_text"></td>
        </td>
    </tr>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K4", :class => "white") %>
            <td id="K4_text"></td>
        </td>
    </tr>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K5", :class => "white") %>
            <td id="K5_text"></td>
        </td>
    </tr>
</table>
</div>
<p class="results" id="results"><%=@data_array%></p>
</body>