<h1>Main#index</h1>
<p id="query_title"><%=@query_title%></p>
<body onload="onLoad()">
<div id="left">
Select Query:<br>
<select name="querySelect" id="querySelect" onchange="onChange()">
  <option selected disabled value=''></option>"
  <option id="select1" value="PCT012A119">Population of Men</option>
  <option id="select2" value="PCT012A118">Population of Women</option>
</select>
</div>
<div id="popup">
    <a> 
    <%= image_tag("PA.png", :style => "position:absolute; TOP:47px; LEFT:177px;", :id => "PA", :class => "white") %>
    <span id="PA_span">PA</span>
    </a>
    <a>
    <%= image_tag("NJ.png", :style => "position:absolute; TOP:56px; LEFT:226px;", :id => "NJ", :class => "white") %>
    <span id="NJ_span">NJ</span>
    </a>
</div>

<script>

function onChange() {
    var x = document.getElementById("querySelect").value;
    location.href = "/query/" + x;
    return false;
}

function onLoad() {

    var start = 4000000;
    var increment = 500000;

    // Create query string
    // var x = document.getElementById("querySelect").value;

    // Key 1
    document.getElementById("K1").className = "red4";
    document.getElementById("K1_text").innerHTML = "> 6,000,000";

    // Key 2
    document.getElementById("K2").className = "red3";
    document.getElementById("K2_text").innerHTML = "5,500,000 - 6,000,000";

    // Key 3
    document.getElementById("K3").className = "red2";
    document.getElementById("K3_text").innerHTML = "5,000,000 - 5,500,000";

    // Key 4   
    document.getElementById("K4").className = "red1";
    document.getElementById("K4_text").innerHTML = "4,500,000 - 5,000,000";

    // Key 5
    document.getElementById("K5").className = "red0";
    document.getElementById("K5_text").innerHTML = "4,000,000 - 4,500,000";

    // var infoLookup = JSON.parse("{\"34\": \"4279600\", \"42\": \"6190363\"}");
    var test = document.getElementById("results").innerHTML;
    var infoLookup = JSON.parse(test);

    // An important lookup table
    var statesLookup = {"AL": "01", "AK": "02", "AZ": "04", "AR": "05", "CA": "06", "CO": "08", "CT": "09", "DE": "10", "DC": "11", "FL": "12", "GA": "13", "HI": "15", "ID": "16", "IL": "17", "IN": "18", "IA": "19", "KS": "20", "KY": "21", "LA": "22", "ME": "23", "MD": "24", "MA": "25", "MI": "26", "MN": "27", "MS": "28", "MO": "29", "MT": "30", "NE": "31", "NV": "32", "NH": "33", "NJ": "34", "NM": "35", "NY": "36", "NC": "37", "ND": "38", "OH": "39", "OK": "40", "OR": "41", "PA": "42", "RI": "44", "SC": "45", "SD": "46", "TN": "47", "TX": "48", "UT": "49", "VT": "50", "VA": "51", "WA": "53", "WV": "54", "WI": "55", "WY": "56", "PR": "72"};

    for (var state in statesLookup)
    {
        var index = statesLookup[state]
        if (index in infoLookup)
        {
            try 
            {
                var value = infoLookup[index];

                // Set the hover value
                document.getElementById(state + "_span").innerHTML = state + ": " + (value*1).toLocaleString();
                // Start it at 4, and move it down if necessary
                document.getElementById(state).className = "red4";
                for (i = 4; i >= 0; i--)
                {
                    if (value < (start + ((i + 1) * increment)))
                    {
                        document.getElementById(state).className = "red" + i;
                    }
                }
            }
            catch (err)
            {
                // suppress -- not all states implemented yet
            }
        }
    }
}
</script>

<div id="key">
<p style="text-align:center;line-height:10%;">Key:</p>
<table>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K1", :class => "white") %>
            <td id="K1_text">Key 1</td>
        </td>
    </tr>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K2", :class => "white") %>
            <td id="K2_text">Key 2</td>
        </td>
    </tr>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K3", :class => "white") %>
            <td id="K3_text">Key 3</td>
        </td>
    </tr>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K4", :class => "white") %>
            <td id="K4_text">Key 4</td>
        </td>
    </tr>
    <tr>
        <td>
            <%= image_tag("KeySquare.png", :id => "K5", :class => "white") %>
            <td id="K5_text">Key 5</td>
        </td>
    </tr>
</table>
</div>
<p class="results" id="results"><%=@data_array%></p>
</body>