<p id="notice"><%= notice %></p>

<p>
  <strong>Key:</strong>
  <%= @datum.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @datum.value %>
</p>

<%= link_to 'Edit', edit_datum_path(@datum) %> |
<%= link_to 'Back', data_path %>
